<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>html</title>

        <!-- Bootstrap -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        <link rel="icon" type="image/png" href="img/facvicon.png">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container top-bar article-top-bar">
            <a href="home.html" class="btn btn-primary">HOME</a>
        </div>
        <div class="container article-content-inner">
            <div class="row">
                <div class="col-sm-12">
                    <div class="article-header">
                        <header>
                            <div id="adv_text" class="adv-heading"></div>
                            <h1>Tesla Unveils 2 Mind-Blowing New Vehicles -- What You Need to Know</h1>
                            <!--<h2>You won't believe the specs on these new all-electric vehicles. </h2>-->
                        </header>
                    </div>
                </div>
            </div>
            <div class="row">
                <main class="col-sm-7 col-md-8">
                    <div class="author-tagline author-inline">
                        <div class="author-and-date">
                            <div class="author-byline">
                                <div class="author-name">Naeem Khan </div>
                                <div class="author-username">
                                    <!--(<a href="#">TMFDanielSparks</a>)-->
                                </div>
                            </div>
                            <div class="article-pub-date">
                                <div class="publication-date">
                                    Nov 18, 2017 at 12:26PM
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="article-body">
                        <div class="article-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.</p>
                            <div class="image">
                                <img alt="" src="images/details-1.jpg">
                                <p class="caption">It is a long established fact that a reader</p>
                            </div>
                            <h2><strong>There are many</strong></h2>
                            <p>It is a long <a href="#">established fact that a reader will be</a> distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                            <!--<p>So much for <a href="#">the rumored maximum of 200 to 300 miles</a> Tesla Semi would be able to drive on a single charge. Instead, the all-electric semi truck is capable of driving 500 miles -- and that's <em>not</em> with an empty load. This is the range a Tesla Semi can haul a max 80,000-pound load. With 80% of freight in the U.S. moved less than 250 miles, this means truck operators will often be able to drive to their destination and back without having to charge.</p>-->
                            <div class="image"><img alt="" src="images/details-2.jpg">
                                <p class="caption">There are many variations of passages</p>
                            </div>
                            <!--<p>What about charging? Tesla says a new network of Tesla Megachargers will enable 400 miles of charge in just 30 minutes. And like Tesla's existing Supercharger network, there will be enough charging locations to enable long-distance travel worldwide, Tesla said.</p>-->
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,looked up one of the more</p>
                            <!--<p>Other notable features include:</p>-->
                            <p>There are many variations of passages of Lorem</p>
                            <ul>
                                <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections</li>
                                <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College</li>
                                <li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected</li>
                                <li>It is a long established fact that a reader wil</li>
                                <li> Various versions have evolved over the years, sometimes by acciden.</li>
                                <li>There are many variations.</li>
                                <li>Impact-resistant glass.</li>
                            </ul>
                            <div class="image"><img alt="" src="images/details-3.jpg">
                                <p class="caption">It is a long established fact that</p>
                            </div>
                            <ul>
                                <li>But I must explain to you how all this mistaken idea of denouncing pleasure and praising.</li>
                                <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</li>
                                <li>On the other hand, we denounce with righteous indignation and dislike men who are.</li>
                                <li>Et harum quidem rerum facilis est et expedita distinctio. Nam libero.</li>
                            </ul>
                            <h2><strong> If you use this site</strong></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque <strong>laudantium</strong>,<a href="#"> totam rem aperiam, eaque ipsa quae ab illo</a> inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.</p>
                            <!--<p>Just when Tesla's product event looked like it was over, the electric-car maker pulled one of <strong>Apple</strong>'s <a href="#">"one more thing" surprise announcements</a>. After a false event ending, lights dimmed, and a new Tesla Roadster rolled out of the back of a Tesla Semi cargo bay to the tune of "Renegades of Funk" by Rage Against the Machine.</p>-->
                            <div class="image"><img alt="" src="images/details-4.jpg">
                                <p class="caption">Ut enim ad minima veniam, quis nostrum.</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error:</p>
                            <ul>
                                <li>Nullam lacinia est ut venenatis vehicula.</li>
                                <li>Cras at nunc sit amet libero lobortis tincidunt.</li>
                                <li>Integer ut ipsum et libero.</li>
                                <li>Donec varius neque.</li>
                                <li>Mauris tincidunt sapien non lorem tristique, iaculis pellentesque purus fermentum.</li>
                                <li>Sed a massa tincidunt.</li>
                            </ul>
                            <p>Vivamus pharetra odio pulvinar <em>base</em> non hendrerit.</p>
                            <div class="image"><img alt="" src="images/details-5.jpg">
                                <p class="caption">Phasellus vitae felis vitae elit eleifend iaculis in in tellus.&nbsp;</p>
                            </div>
                            <h2><strong>Curabitur ullamcorper?</strong></h2>
                            <p>There are many variations of passages of Lorem Ipsum <a href="#">available, but the majority</a> have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.</p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem</p>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority.</p>
                            <div class="image">
                                <img alt="" src="images/details-6.jpg">
                                <p class="caption">Contrary to popular belief, Lorem Ipsum.</p>
                            </div>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham. The generated Lorem Ipsum is therefore always free from .</p>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            <div id="pitch">
                                <p><strong></strong></p>
                                <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit<br></strong>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.*</p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the <strong><a href="#">majority have suffered alteration</a></strong> in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                <!--<p>On November 10, David and Tom revealed what they believe are the <strong><a href="#">ten best stocks</a></strong> for investors to buy right now… and Tesla wasn't one of them! That's right -- they think these 10 stocks are even better buys.</p>-->
                                <p><a class="btn" href="#">See the 10 stocks</a></p>
                                <p><em><span>*Stock Advisor returns as of November 1, 2017</span></em></p>
                            </div>
                        </div>
                        <div class="article-disclosure">
                            <p><em><a href="#">It is a long established</a> fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop <a href="#">publishing packages</a></em></p>
                        </div>
                        <div class="special-message">
                            <p><strong>At vero eos et accusamus et iusto odio dignissimos<br></strong>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,</p>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <p><a class="btn" href="#">Learn more</a></p>
                        </div>
                    </section>
                </main>
                <aside class="col-sm-5 col-md-4 p-l">
                    <section class="related-tickers">
                        <div class="block-title">
                            <hr><h2>Stocks</h2>
                        </div>
                        <div class="ticker-row">
                            <div>
                                <span class="image-wrap">
                                    <a href="#">
                                        <img src="images/related-1.png" class="img-responsive" alt="">
                                    </a>
                                </span>
                                <h3>Apple</h3>
                                <h4>
                                    <span class="ticker">
                                        <a title="Apple Stock Quote" href="#">
                                            NASDAQ:<span class="symbol">AAPL</span>
                                        </a>
                                    </span>
                                </h4>
                                <aside class="price-quote-container">
                                    <h4 class="current-price">
                                        $170.15
                                    </h4>
                                    <h4 class="price-change-amount price-neg">
                                        $0.95
                                    </h4>
                                    <h4 class="price-change-percent price-neg">
                                        (-0.56%)
                                    </h4>
                                </aside>
                            </div>
                        </div>
                        <div class="ticker-row">
                            <div>
                                <span class="image-wrap">
                                    <a href="#">
                                        <img src="images/related-2.png" class="img-responsive" alt="">
                                    </a>
                                </span>
                                <h3>Tesla</h3>
                                <h4>
                                    <span class="ticker">
                                        <a title="Tesla Stock Quote" href="#">
                                            NASDAQ:<span class="symbol">TSLA</span>
                                        </a>
                                    </span>
                                </h4>
                                <aside class="price-quote-container">
                                    <h4 class="current-price">
                                        $315.05
                                    </h4>
                                    <h4 class="price-change-amount price-pos">
                                        $2.55
                                    </h4>
                                    <h4 class="price-change-percent price-pos">
                                        (0.82%)
                                    </h4>
                                </aside>
                            </div>
                        </div>
                        <div class="ticker-row">
                            <div>
                                <span class="image-wrap">
                                    <a href="#">
                                        <img src="images/related-3.png" class="img-responsive" alt="">
                                    </a>
                                </span>
                                <h3>Twitter</h3>
                                <h4>
                                    <span class="ticker">
                                        <a title="Tesla Stock Quote" href="#">
                                            NYSE:<span class="symbol">TWTR</span>
                                        </a>
                                    </span>
                                </h4>
                                <aside class="price-quote-container">
                                    <h4 class="current-price">
                                        $315.05
                                    </h4>
                                    <h4 class="price-change-amount price-pos">
                                        $2.55
                                    </h4>
                                    <h4 class="price-change-percent price-pos">
                                        (0.82%)
                                    </h4>
                                </aside>
                            </div>
                        </div>
                    </section>
                    <section class="read-more-section">
                        <div class="block-title">
                            <hr><h2>Read More</h2>
                        </div>
                        <ul class="two-line-list">
                            <li><a href="#">It is a long established fact that a reader</a></li>
                            <li><a href="#">Many desktop publishing packages and web page editors now use</a></li>
                            <li><a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a></li>
                            <li><a href="#">There are many variations of passa</a></li>
                            <li><a href="#" >If you are going to use a passage of Lorem Ipsum</a></li>
                        </ul>
                    </section>
                </aside>
            </div>
        </div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
