{% extends "base.html" %}
{% block home %}

{% load static%}

        <div class="container content-inner">
            <section class="jumbo-card card">
                <div class="card-image">
                    {% for image in homepage_article.images %}
                        <a href="article/{{homepage_article.uuid}}"><img src="{{image.url}}" alt="" class="img-responsive"></a>
                    {% endfor %}
                </div>
                <div class="card-elements">
                    <div class="card-header">
                        <a href="article/{{homepage_article.uuid}}"><h3>{{homepage_article.promo}}</h3></a>
                        <p class="author">{{homepage_article.byline}} | {{homepage_article.publish_at}} </p>
                    </div>
                    <div class="card-copy">
                        <p>{{homepage_article.pitch.text | safe}}</p>
                    </div>
                </div>
            </section>
           
            <div class="cards row">
            {% for article in random_articles %}
                <div class="card">
                    <div class="card-image">
                    {% for image in article.images %}
                        <a href="article/{{article.uuid}}"><img src="{{image.url}}" alt="" class="img-responsive"></a>
                    {% endfor %}
                    </div>
                    <div class="card-elements">
                        <div class="card-header">
                            <a href="article/{{article.uuid}}">
                                <h4>{{article.promo}}</h4>
                            </a>
                            <p class="author">{{article.byline}} | {{article.publish_at}} </p>
                        </div>
                        <div class="card-copy">
                            <p>{{article.pitch.text | safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div> 
        </div>
        
{% endblock home %}
